<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGraceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-54-197-33-154.compute-1.amazonaws.com/workforce-housing-soap/GraceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraceService"
                contract="HousingReference.IGraceService" name="BasicHttpBinding_IGraceService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>