body{
  font-size: 15px;
}
.dropdown {
    position: relative;
}

.invisButton {
    background: transparent;
    border: none !important;
}

.sidebarTrain {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background: transparent;
    
  }

.newSidebar {
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 10px;
    z-index: 1000;
    height: 500px;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    box-shadow: 5px 5px 5px #888888;
  }

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.traineeSidebar {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F8F9F9;
    border-right: 1px solid #eee;
    box-shadow: 5px 5px 5px #888888;
  }

.traineeSidebarRight {
    position: fixed;
    top: 100px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F8F9F9;
    border-left: 1px solid #eee;
    box-shadow: -5px 5px 5px  #888888;
  }

.panel {
    border-radius: 0px;
}

@media only screen and (min-width : 300px) {

    .h1 {
        font-size:10px;
    }
   .text {
    font-size: 20px;
   }

}