.dropdown {
    position: relative;
}

.invisButton {
    background: transparent;
    border: none !important;
}

.sidebarTrain {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background: transparent;
    
  }

.newSidebar {
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 10px;
    z-index: 1000;
    height: 500px;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    box-shadow: 5px 5px 5px #888888;
  }

.traineeSidebar {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border: 2px solid #eee;
    /*box-shadow: 1px 1px 1px #888888;*/
  }

.traineeSidebarRight {
    position: fixed;
    top: 100px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border: 2px solid #eee;
    /*box-shadow: -1px 1px 1px  #888888;*/
  }

.controlPanel {
    top: 100px;
    bottom: 0;
    position: fixed;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid #eee;
}
.panel {
    border-radius: 0px;
}

@media only screen and (min-width : 300px) {

    .h1 {
        font-size:10px;
    }
   .text {
    font-size: 20px;
   }

}

.test-spin  {
    animation: spin 2s infinite linear;
}

.traineeSidebar::-webkit-scrollbar {
    width: 6px;
}
 
.traineeSidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.traineeSidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.traineeSidebarRight::-webkit-scrollbar {
    width: 6px;
}
 
.traineeSidebarRight::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.traineeSidebarRight::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}