<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--Generalized style sheets always go first.  Ensures normalization-->
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  <link href="~/Content/carousel.css" rel="stylesheet" />
  <link href="~/Content/dashboard.css" rel="stylesheet" />
  <link href="~/Content/style.css" rel="stylesheet" /> <!--This style sheet comes from the Revature site itself.  Do not attempt to modify unless necessary-->
  <link href="~/Content/d3AptCap.css" rel="stylesheet" />
  <link href="~/Content/myContent.css" rel="stylesheet" /> <!-- Make modifications in this style sheet-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="icon" /> <!--Stylizes font-->
  <link href="~/Content/responsive.css" rel="stylesheet" />

  <title>Revature | Housing </title>

  <link href="https://revature.com/imgs/favicon_192.png" rel="icon" type="image/x-icon">
  <script src="https://use.typekit.net/pvo4jdm.js"></script> 
  <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <!-- While text is loading, it will not be seen until it finishes loading.  Text is customized.  -->
  <style type="text/css"> 
    .wf-loading {
      visibility: hidden;
    }
  </style>
  <script src="https://use.fontawesome.com/8d8fa1da46.js"></script>

</head>
<body>
  <div class="navbar-wrapper hero-bm">
    <div class="container">
      <nav class="navbar navbar-revature navbar-static-top navbar-bg">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="logo"><a href='#/complexes'><img src="https://revature.com/imgs/logo.png" alt="Revature" /></a> </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse rev-menu">
            <ul class="nav navbar-nav">
              <li><a href="#/complexes"><span class="glyphicon glyphicon-home"></span>&nbsp; HOUSING</a></li>
              <li><a href="#/associatelist"><span class="glyphicon glyphicon-user"></span>&nbsp; ASSOCIATES</a></li>
              <li><a href="#/controlpanel"><span class="glyphicon glyphicon-blackboard"></span>&nbsp; CONTROL PANEL</a></li>
              <li><a href="#/capacity"><span class="glyphicon glyphicon-signal"></span>&nbsp; ANALYTICS</a></li>
              <li><a href="#" id="lo" style="visibility:hidden" onclick="logout()"><span class="glyphicon glyphicon-off"></span>&nbsp; LOGOUT</a></li>

            </ul>
            <script>
              var logCheck = sessionStorage.getItem('Login');
              var lb = document.getElementById('lo');
              if (logCheck === 'true') {
                lb.style.visibility = 'visible';
              }
              else {
                lb.style.visibility = 'hidden';
              }
              var logout = function () {
                sessionStorage.setItem("Login", "false");
                var lb = document.getElementById('lo');
                lb.style.visibility = 'hidden';
              }
            </script>
          </div>
        </div>
      </nav>
    </div>
  </div>
  @RenderBody()

    <!-- Every module will need be included from each page, as well as the services included with it. -->
    <!-- There will be cdn's used here and there to grab information straight from an online server.-->
  <script src="~/Scripts/jquery-1.9.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="~/Libraries/angular.min.js"></script>
  <script src="~/Libraries/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
  <script src="~/Scripts/app.js"></script>
  <script src="~/Scripts/ComplexToApt.js"></script>
  <script src="~/Scripts/AptToRoom.js"></script>
  <script src="~/Scripts/associateData.js"></script>
  <script src="~/modules/Complexes/module.js"></script>
  <script src="~/modules/Complexes/service.js"></script>
  <script src="~/modules/Associates/module.js"></script>
  <script src="~/modules/Associates/service.js"></script>
  <script src="~/modules/Apartments/module.js"></script>
  <script src="~/modules/Apartments/service.js"></script>
  <script src="~/modules/Login/module.js"></script>
  <script src="~/modules/Login/service.js"></script>
  <script src="~/modules/Register/module.js"></script>
  <script src="~/modules/Register/service.js"></script>
  <script src="~/modules/Capacity/module.js"></script>
  <script src="~/modules/AssociateList/module.js"></script>
  <script src="~/modules/AssociateList/service.js"></script>
  <script src="~/modules/ControlPanel/module.js"></script>
  <script src="~/modules/ControlPanel/service.js"></script>
</body>
</html>