<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>owsYCLK4NrQkl6nEatpHNWKRBtsAyyesnzvNCh8I9TxIeswpdCUvdc19Ji4I8srv2nhI9OngVEMOpmDrOTUbnBREZN0FVAyN/w+pcrNBde15lFpJD3v8bH1AhmYbBFjsko0B3AjvObVRo1wr8HisFnZeXQVYJ/MoHoen3nLQ3D8=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>zb07QWP5qpxVjJPT047jKTmymgoBDv3UajxYO5csQR3tkNifPxboiPMKWcQ+uHyMkabz8js9DB0hqTNoOBcl1vJiy30k3KtuyL40ftxjxv6wVYUQrEhd668DhhBzhw7juF9Ah0zZT4HnL5oqJz6EGiZ5WYJvpdHmHM1DTxuzRsB6TWX7PbrV/E+4aVdOC34VoTewqpObRPdQFu3OSBc05pcMw7fflIpGCcI7/w+mvekPtRpsivAIX768qauYrmmoX5IfHs3SycC4RJsWxZXORrZ3ScR1lGlPyrWaorALy0LYBWQZn1VQ+zLGjkkPko24ed29x+MP/e8LRWeN+DCSqzIrObNqIIM94bUiyYd+vdQjDY/Rm3ri0mvurtWfdcthkQSVBRiHBQLk6poVPvdSEfO9XrOW9cmwtQ2B4k/hyRhw5k0dJgBcA09m+0bHcjFgI0Kp4H8CX9M1RN7cN4Ff5D0Cjt4C6FjCAki5mZOs0JyvM4WxxBawKRmhYkhQCQADHRzPaePOkw/p7M97m+WgZmlYxp2wLhvoDu4QGRLVfTXhMzFp8tJTeXLrIqnXYYxyX4X8x+qITUoMcjQe9lgjbIRPNWTmekJCH22M4XZP6hP24u1vtCP38Dxg0+R9fOjpQjnAL4kRtKpE4vRAk95mBK7qLL9q+EyqeNSTalwPtmK6ZWZwVE0/7ErcgNKTpkAv</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>