<!-- Side bars and main field -->
<div class="container-fluid" data-ng-app="ahApp">
  <div class="row">
    <!--Left sidebar -->
    <form>

      <!-- Apartments we'll be seeing -->
      <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-9 main " data-ng-view>
      </div>

    </form>
  </div>
</div>