<div class="row">
    <section class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-9">
            <h1>
                Associates
            </h1>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="row">
                <section class="col-md-2 col-lg-6">
                    <h1>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="addAssoc()">
                            <span class="glyphicon glyphicon-plus"></span> Add Associate
                        </button>
                    </h1>
                </section>
                
            </div>
        </div>

    </section>

</div>
<div class="row">
    <section class="col-sm-12 col-md-12 col-lg-12">
        <hr />
    </section>

</div>
<div class="container-fluid">
    <div class="row">
        <span data-ng-init="list()"></span>
        <section class="col-sm-12 col-md-12 col-lg-12">
            <section class="col-sm-12 col-md-6 col-lg-6" data-ng-repeat="list in filteredAssociates">

                <div ng-switch on="list.Gender">
                    <div ng-switch-when="Female">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <a href="" style="color:black;"> <h3 class="panel-title">{{list.FirstName}} {{list.LastName}}</h3> </a>
                            </div>
                            <div class="panel-body">
                                <p class="list-group-item-text"> {{list.Gender}}</p>
                                <p class="list-group-item-text">Email: {{list.Email}}</p>
                            </div>
                            <div class="panel-footer">

                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assocModal" data-ng-click="removal(list)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove Associate
                                </button>

                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="Male">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <a href="" style="color:black;"> <h3 class="panel-title">{{list.FirstName}} {{list.LastName}}</h3> </a>
                            </div>
                            <div class="panel-body">
                                <p class="list-group-item-text"> {{list.Gender}}</p>
                                <p class="list-group-item-text">Email: {{list.Email}}</p>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assocModal" data-ng-click="removal(list)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove Associate
                                </button>

                            </div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <a href="" style="color:black;"> <h3 class="panel-title">{{list.FirstName}} {{list.LastName}}</h3> </a>
                            </div>
                            <div class="panel-body">
                                <p class="list-group-item-text"> {{list.Gender}}</p>
                                <p class="list-group-item-text">Email: {{list.Email}}</p>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assocModal" data-ng-click="removal(list)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove Associate
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </section>

        <div class="row">
            <section class="col-sm-12 col-md-12 col-lg-12 text-center">
                <ul uib-pagination total-items="listAssoc.length" boundary-links="true" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
            </section>
        </div>
    </div>
</div>

<!-- Complex Remove modal -->

<div class="modal fade" id="complexModal" tabindex="-1" role="dialog" aria-labelledby="complexModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Let's not be hasty...</h2>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this apartment complex?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-ng-click="removeComplex()">Remove</button>
            </div>
        </div>
    </div>
</div>
        