<section>
    <div class="row">
        <section class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 id="complexName" class="text-center" >
                    Choose a Complex
                </h1>
                <div id="failAddAssoc" class="alert alert-danger display-none">
                    <strong>Failed to add associate to apartment.</strong> Something seems to have gone wrong.
                </div>
            </div>
            <div class="row">
                <section class="col-md-12 col-lg-12">
                    <hr />
                </section>

            </div>
            <section>
                <div class="container-fluid" ng-controller="panelAptController">
                    <div class="row">
                        <!--<span data-ng-init="aptGet()"></span>-->
                        <section class="col-sm-12 col-md-12 col-lg-12">
                            <section class="col-sm-12 col-md-3 col-lg-3" data-ng-repeat="apt in filteredApartments">

                                <div ng-if="apt.GenderID === 1">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <a href="" style="color:black;" data-ng-click="aptChoose(apt)"> <h3 class="panel-title">Apt #: {{apt.RoomNumber}}</h3> </a>
                                        </div>
                                        <div class="panel-body">
                                            <p class="list-group-item-text">Gender: Male</p>
                                            <p class="list-group-item-text">Current Occupancy: {{apt.CurrentCapacity}}</p>
                                            <p class="list-group-item-text">Max Capacity: {{apt.MaxCapacity}}</p>
                                            <br />
                                            <div ng-if="apt.CurrentCapacity == apt.MaxCapacity" class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{apt.CurrentCapacity}}" aria-valuemin="0" aria-valuemax="{{apt.MaxCapacity}}" ng-style="{width : ((apt.CurrentCapacity / apt.MaxCapacity ))*100 + '%'}">
                                                    FULL!
                                                </div>
                                            </div>
                                            <div ng-if="apt.CurrentCapacity < apt.MaxCapacity" class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{apt.CurrentCapacity}}" aria-valuemin="0" aria-valuemax="{{apt.MaxCapacity}}" ng-style="{width : ((apt.CurrentCapacity / apt.MaxCapacity ))*100 + '%'}">
                                                    {{apt.CurrentCapacity}} / {{apt.MaxCapacity}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="apt.GenderID === 2">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <a href="" style="color:black;" data-ng-click="aptChoose(apt)"> <h3 class="panel-title">Apt #: {{apt.RoomNumber}}</h3> </a>
                                        </div>
                                        <div class="panel-body">
                                            <p class="list-group-item-text">Gender: Female</p>
                                            <p class="list-group-item-text">Current Occupancy: {{apt.CurrentCapacity}}</p>
                                            <p class="list-group-item-text">Max Capacity: {{apt.MaxCapacity}}</p>
                                            <br />
                                            <div ng-if="apt.CurrentCapacity == apt.MaxCapacity" class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{apt.CurrentCapacity}}" aria-valuemin="0" aria-valuemax="{{apt.MaxCapacity}}" ng-style="{width : ((apt.CurrentCapacity / apt.MaxCapacity ))*100 + '%'}">
                                                    FULL!
                                                </div>
                                            </div>
                                            <div ng-if="apt.CurrentCapacity < apt.MaxCapacity" class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{apt.CurrentCapacity}}" aria-valuemin="0" aria-valuemax="{{apt.MaxCapacity}}" ng-style="{width : ((apt.CurrentCapacity / apt.MaxCapacity ))*100 + '%'}">
                                                    {{apt.CurrentCapacity}} / {{apt.MaxCapacity}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="apt.GenderID === 29">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <a href="" style="color:black;" data-ng-click="aptChoose(apt)"> <h3 class="panel-title">Apt #: {{apt.RoomNumber}}</h3> </a>
                                        </div>
                                        <div class="panel-body">
                                            <p class="list-group-item-text">Gender: Not Specified</p>
                                            <p class="list-group-item-text">Current Occupancy: {{apt.CurrentCapacity}}</p>
                                            <p class="list-group-item-text">Max Capacity: {{apt.MaxCapacity}}</p>
                                            <br />
                                            <div ng-if="apt.CurrentCapacity == apt.MaxCapacity" class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{apt.CurrentCapacity}}" aria-valuemin="0" aria-valuemax="{{apt.MaxCapacity}}" ng-style="{width : ((apt.CurrentCapacity / apt.MaxCapacity ))*100 + '%'}">
                                                    FULL!
                                                </div>
                                            </div>
                                            <div ng-if="apt.CurrentCapacity < apt.MaxCapacity" class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{apt.CurrentCapacity}}" aria-valuemin="0" aria-valuemax="{{apt.MaxCapacity}}" ng-style="{width : ((apt.CurrentCapacity / apt.MaxCapacity ))*100 + '%'}">
                                                    {{apt.CurrentCapacity}} / {{apt.MaxCapacity}}
                                                </div>
                                            </div>
                                            <!--<uib-progressbar max="10" value="6"><span style="color:white; white-space:nowrap;">{{apt.CurrentCapacity}}/{{apt.MaxCapacity}}</span></uib-progressbar>-->
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </section>
                        <div class="row" >
                            <section class="col-sm-12 col-md-12 col-lg-12 text-center" >
                                <ul uib-pagination total-items="apts.length" boundary-links="true" items-per-page="numPerPage" ng-model="aptCurrentPage" ng-change="aptPageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </section>


    </div>


    <div class="row">
        <section class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 id="roomNumber" class="text-center"></h1>
            </div>
            <div class="row">
                <section class="col-sm-12 col-md-12 col-lg-12">
                    <hr />
                </section>

            </div>
            <section>
                <p id="assocRoom"></p>
                <div class="container-fluid" ng-controller="panelRoomController">
                    <div  class="row">
                        <section class="col-sm-12 col-md-12 col-lg-12">
                            <section id="roomMates" class="col-sm-12 col-md-3 col-lg-3" data-ng-repeat="associate in livingAssoc">

                                <div ng-switch on="associate.Gender">
                                    <div ng-switch-when="Female">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <a href="" style="color:black;"> <h3 class="panel-title">{{associate.FirstName}} {{associate.LastName}}</h3> </a>
                                            </div>
                                            <div class="panel-body">
                                                <p class="list-group-item-text"> {{associate.Gender}}</p>
                                                <p class="list-group-item-text">Email: {{associate.Email}}</p>
                                            </div>
                                            <div class="panel-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assocModal" data-ng-click="moveOut(associate)">
                                                    <span class="glyphicon glyphicon-briefcase"></span> Move  Out
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="Male">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <a href="" style="color:black;"> <h3 class="panel-title">{{associate.FirstName}} {{associate.LastName}}</h3> </a>
                                            </div>
                                            <div class="panel-body">
                                                <p class="list-group-item-text"> {{associate.Gender}}</p>
                                                <p class="list-group-item-text">Email: {{associate.Email}}</p>
                                            </div>
                                            <div class="panel-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assocModal" data-ng-click="moveOut(associate)">
                                                    <span class="glyphicon glyphicon-briefcase"></span> Move Out
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <a href="" style="color: black;"> <h3 class="panel-title">{{associate.FirstName}} {{associate.LastName}}</h3> </a>
                                            </div>
                                            <div class="panel-body">
                                                <p class="list-group-item-text"> {{associate.Gender}}</p>
                                                <p class="list-group-item-text">Email: {{associate.Email}}</p>
                                            </div>
                                            <div class="panel-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assocModal" data-ng-click="moveOut(associate)">
                                                    <span class="glyphicon glyphicon-briefcase"></span> Move Out
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>


<div class="col-sm-2 col-md-2 col-lg-2 traineeSidebar">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 style="font-size: 2vw;">
            Complexes
        </h1>
        <hr />
    </div>
    <span data-ng-init="get()"></span>
    <section class="col-sm-12 col-md-12 col-lg-12" data-ng-repeat="complex in filteredComplexes">
        <div ng-if="complex.IsHotel == true">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="" style="color: black;" data-ng-click="chosen(complex)"> <h3 class="panel-title"><span class="glyphicon glyphicon-lamp"></span> {{complex.Name}} </h3> </a>
                </div>
                <div class="panel-body">
                    <p class="list-group-item-text">Address: {{complex.Address}}</p>
                    <p class="list-group-item-text">Contact Information: {{complex.PhoneNumber}}</p>

                </div>
            </div>
        </div>
        <div ng-if="complex.IsHotel == false">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="" style="color: black;" data-ng-click="chosen(complex)"> <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span> {{complex.Name}} </h3> </a>
                </div>
                <div class="panel-body">
                    <p class="list-group-item-text">Address: {{complex.Address}}</p>
                    <p class="list-group-item-text">Contact Information: {{complex.PhoneNumber}}</p>

                </div>
            </div>
        </div>
        <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h3 class="panel-title">
                        <a href="" role="button" style="color:black;" data-ng-click="go(complex); broadCast()" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           {{complex.Name}}
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p class="list-group-item-text">Address: {{complex.Address}}</p>
                        <p class="list-group-item-text">Contact Information: {{complex.PhoneNumber}}</p>
                    </div>
                </div>
                <div class="panel-footer" role="tab" id="headingOne">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editModal" data-ng-click="go(complex, ('/complexInfo'))"> <span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#complexModal" data-ng-click="grab(complex)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>


        </div>-->

    </section>
    <div class="row center-block">
        <section class="col-sm-12 col-md-12 col-lg-12">
            <ul uib-pagination total-items="complexes.length" boundary-links="true" max-size="3" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </section>
    </div>

</div>


<div class="col-sm-2 col-md-2 col-lg-2 traineeSidebarRight" ng-controller="panelAssocController">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 style="font-size: 2vw;">
            Associates
            
        </h1>
        <hr />
        <p id="chooseAptFirst">Choose an apartment to view associates</p>
    </div>
    
    <!--<span data-ng-init="assocGet()"></span>-->
    
    <section  class="col-sm-12 col-md-12 col-lg-12" data-ng-repeat="associate in filteredAssociates">
        <div id="allAssoc" ng-switch on="associate.Gender">
            <!--<div ng-switch-when="Female">
                <div class="panel panel-danger">

                    <div class="panel-heading">
                        <a href="" style="color:black;"> <h3 class="panel-title">{{associate.FirstName}} {{associate.LastName}}</h3> </a>
                    </div>
                </div>
            </div>-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-switch-when="Female">
                <div class="panel panel-danger">
                    <div class="panel-heading" role="tab" id="heading{{associate.FirstName}}">
                        <h3 class="panel-title">
                            <a href="" role="button" style="color:black;" data-ng-click="" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{associate.FirstName}}" aria-expanded="true" aria-controls="collapse{{associate.FirstName}}">
                                {{associate.FirstName}} {{associate.LastName}}
                            </a>
                        </h3>
                    </div>
                    <div id="collapse{{associate.FirstName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{associate.FirstName}}">
                        <div class="panel-body">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#moveModal" data-ng-click="moveIn(associate)"> <span class="glyphicon glyphicon-bed"></span> Move In </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-switch-when="Male">
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="heading{{associate.FirstName}}">
                        <h3 class="panel-title">
                            <a href="" role="button" style="color:black;" data-ng-click="" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{associate.FirstName}}" aria-expanded="true" aria-controls="collapse{{associate.FirstName}}">
                                {{associate.FirstName}} {{associate.LastName}}
                            </a>
                        </h3>
                    </div>
                    <div id="collapse{{associate.FirstName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{associate.FirstName}}">
                        <div class="panel-body">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#moveModal" data-ng-click="moveIn(associate)"> <span class="glyphicon glyphicon-bed"></span> Move In </button>
                        </div>
                    </div>
                    
                </div>
                <!--<div class="panel panel-info">
                    <div class="panel-heading">
                        <a href="" style="color:black;"> <h3 class="panel-title">{{associate.FirstName}} {{associate.LastName}}</h3> </a>
                    </div>
                </div>-->

            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-switch-default>
                <div class="panel panel-warning">
                    <div class="panel-heading" role="tab" id="heading{{associate.FirstName}}">
                        <h3 class="panel-title">
                            <a href="" role="button" style="color:black;" data-ng-click="" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{associate.FirstName}}" aria-expanded="true" aria-controls="collapse{{associate.FirstName}}">
                                {{associate.FirstName}} {{associate.LastName}}
                            </a>
                        </h3>
                    </div>
                    <div id="collapse{{associate.FirstName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{associate.FirstName}}">
                        <div class="panel-body">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#moveModal" data-ng-click="moveIn(associate)"> <span class="glyphicon glyphicon-bed"></span> Move In </button>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div ng-switch-default>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <a href="" style="color:black;"> <h3 class="panel-title">{{associate.FirstName}}  {{associate.LastName}}</h3> </a>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    <div class="row center-block">
        <section class="col-sm-12 col-md-12 col-lg-12">
            <ul uib-pagination total-items="associates.length" boundary-links="true" max-size="" items-per-page="numPerPage" ng-model="assocCurrentPage" ng-change="assocPageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </section>

    </div>
</div>

<!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h3 class="panel-title">
                        <a href="" role="button" style="color:black;" data-ng-click="" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           {{associate.FirstName}} {{associate.LastName}}
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                    </div>
                </div>
                <div class="panel-footer" role="tab" id="headingOne">
                    
                </div>
            </div>


        </div>-->
