<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>spxmD1vdOqMAQqr1ibO+D+I31bMVJd9ghUqaQ2mWQkjC/nF4niEX63o/GV5qxSJmk5h/HU+3D0vN1R7X1tl82pDSlBpDxuuo1iIkLguLzlgevkpFmF6pv3IChhkrFc0e+jbYpV/wg8WS3mLOAuaIC3psymN2aTiZD9Q5DtyPSdQ=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>nLz1b2A9ZxfgofSwbNjap3dwwkWUfMHLivzsYVWPNlczJsi/M7tLpzeRjFSirXrFpB4Q9VfMYIc7SwTw7k0HAW9GFXOX8MbZ/GnAMXqTTEBn7swhkmzTAilwK2ry+lq7xUkIAbx55HPi0vxN1j4Tj2MY+Yi7+fIYGzKd4ewQViHP7as0nb+99l6849EhEtWupH+NlFDp6uuIm/rvscNXY2VK9fizJFs6of5ry5zH5OpYum+RPsQJ6/1WyepGPMALkToH3GSyrigjPIEubgtkXOMItWTrhFXsl421eali+Itx2DHDTmc9O+szA3lvaCLHoT3/OeSXuelhLZJZfXMaR9r77bdgRjPaoeubqoJ9mePy/uSyq2ZEYqwLV8YuSmd/bcnlZHhus9W793OaXLsBRfKAvKZc6vtylHKrEckSagaXBk0aBSrbemg1i82XLfpp5ftb2N/g8wBn0cBtElCDngvWvknsnW8bemt9wqjSW5lQ8e+GQ8hQpBHlyE8X5ByxcAMn7xxOzNWVmvWkD35neemOCIqJbi8NP2uSfpIO9cN877Z4/t1GzXHgWsXYYK0f1dDbzNUWgK/8newSx+RzCWIFKGYb7CgzJGJQ2no2pHuBGcDr+Pi/yWldDKmgRtKQXS/Xkk6cuU3OXDKf0cGUKun0IPJM4XK9Lm6O/Eb1JeUWVsK8mCeAlkDTauD+YOA2</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>